numpy==1.16.2
requests==2.20.0
Flask==1.0.2
tensorflow==2.5.0
pydub==0.23.1
nltk==3.4
pandas==0.24.1
SpeechRecognition==3.8.1
Keras==2.2.4
networkx==2.3
beautifulsoup4==4.8.1
protobuf==3.11.2
scikit_learn==0.22
gunicorn
